name: CSX Stock Tracker

on:
  repository_dispatch:
    types: [ping_15s]
  workflow_dispatch:

jobs:
  run-tracker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip' # <--- This automatically caches your requirements

      - name: Install dependencies
        # This line says: "Only run this if the cache was NOT found"
        if: steps.setup-python.outputs.cache-hit != 'true'
        run: |
          pip install -r requirements.txt

      - name: Run Script
        id: run_script
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          SEND_CHAT_ID: ${{ github.event.client_payload.chat_id || secrets.SEND_CHAT_ID }}
        run: python my_script.py

      - name: Save State
        # This step only runs if 'should_save' was set to 'true' in Python
        if: steps.run_script.outputs.should_save == 'true'
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add last_price.txt log.txt
          git commit -m "Update tracker state [skip ci]" || exit 0
          git push
